{# http://flask.pocoo.org/docs/1.0/tutorial/templates/ #}
{% extends 'base.html' %} {# le template home utilise la mise en page définie par base #}

{% block title %} {# titre dans la barre d'onglet du navigateur #}
PEGPI - Accueil
{% endblock %}

{% block content %}
<div id="figures">
    <figure>
        <a href='/cesar'><img src="{{ url_for('static', filename='cesar_200px.png') }}" alt="Chiffre de César"></a>
        <figcaption>A compléter</figcaption>
    </figure>
    <figure>
        <a href='/vigenere'><img src="{{ url_for('static', filename='vigenere_200px.png') }}"
                alt="Chiffre de Vigenère"></a>
        <figcaption> <a href = '/vigenere' >Blaise de Vigenère</a><br />(source wikipedia)</figcaption>
    </figure>
    <figure>
        <a href='/rsa'><img src="{{ url_for('static', filename='rsa_200px.png') }}" alt="Chiffrement RSA"></a>
        <figcaption>A compléter</figcaption>
    </figure>
</div>
https://fr.wikipedia.org/wiki/Cryptographie
http://www.bibmath.net/crypto/index.php?action=affiche&quoi=moderne/index
{% endblock %}